<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Epicodus Tunes</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="marketplace">Marketplace</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>

<!-- <a class="navbar-brand" routerLink="">Epicodus Tunes</a> will navigate to our index. When this link is clicked, the router will search its appRoutes array for the route whose path matches the path provided in this link, an empty string "": -->
